<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
</head>
<body>
    <h2>AJAX</h2>
    <h3> {{ controllerExecutedAt.format('Y-m-d H:i:s') }}</h3>

    <button type="button" onclick="loadDoc()">Without JQuery</button>
    <button id="button-jquery">With JQuery</button>

    <p id="demo"></p>

    <script>
        $(document).ready(function(){
            $("button").click(function(){
                $("#demo").load("test");
            });
        });
    </script>

    <script>
        function loadDoc() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                    document.getElementById("demo").innerHTML = xhttp.responseText;
                }
            };
            xhttp.open("GET", "/cmd/test", true);
            xhttp.send();
        }
    </script>
</body>
</html>

